.deck-container {
  width: 100%;

  background-color: #404040;

  .deck-info {
    display: flex;
    justify-content: space-around;
  }

  .cards,
  .units,
  .provisions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
