<div class="deck-container">
  hey just testing here want to see if it will stay the same shape and not
  shrink for some reason okay
  <div class="deck-info">
    <div class="cards">
      <span>Cards</span>
      <span>{{ this.cardCount }} / {{ this.minCards }} MIN</span>
    </div>
    <div class="units">
      <span>Units</span>
      <span>{{ this.unitCount }} / {{ this.minUnits }} MIN</span>
    </div>
    <div class="provisions">
      <span>Provisions</span>
      <span>{{ this.usedProvisions }} / {{ this.baseProvisions }} MAX</span>
    </div>
  </div>
  <div class="leader-ability"></div>
  <div class="deck-card-list">
    <div class="deck-card"></div>
  </div>
</div>
