.deck-catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .deck-filters {
    padding: 1rem 0 1rem 0;
  }

  app-deck-table {
    width: 66vw;
  }
}
