.card {
  position: relative;
  z-index: 1;
  display: block;

  .card-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    background-color: #f0f0f0;

    .name {
      font-weight: bold;
    }
  }
}

.card:hover > .card-tooltip,
.card-tooltip > span {
  display: block;
}

.card:hover {
  transform: scale(1.05);
}
