.deck-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: auto;

  .deck-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    color: #e0e0e0;

    .voting {
      align-self: center;
      margin-right: 1rem;
      font-size: 1.6rem;
    }

    .deck-content,
    h1,
    h2 {
      margin-right: 1rem;
    }
  }

  app-deck {
    width: fit-content;

    margin-right: 5rem;
  }

  .deck-content {
    margin-top: 1.5rem;
  }
}
