.form {
  display: grid;
  height: 100%;

  font-size: 1.2rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    margin: auto;
    padding: 3em;

    background-color: #f0f0f0;

    mat-form-field {
      margin-top: 1em;
    }

    button {
      width: auto;
    }
  }
}
