.deckbuilder-container {
  display: flex;

  .save-btn {
    width: 100%;
  }

  app-cards-list {
    flex-basis: 80vw;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    padding: 0;
  }
}
